<%= form_for(something) do |f| %>
  <% if something.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(something.errors.count, "error") %> prohibited this something from being saved:</h2>

      <ul>
      <% something.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :instanceid %>
    <%= f.text_field :instanceid, :value => "i-85a007b4" %>
  </div>

  <div class="field">
    <%= f.label :todo_action %>
    <%= f.select :todo_action, ['Start EC2','Stop EC2','Start RDS', 'Stop RDS']%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
