<p id="notice"><%= notice %></p>

<h1>Instance Id Used i-85a007b4</h1>
<h3> Last Action Performed <%= (Something.last).todo_action %></h3>

<table>
  <thead>
    <tr>
      <th>Instanceid</th>
      <th>Todo action</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @somethings.each do |something| %>
      <tr>
        <td><%= something.instanceid %></td>
        <td><%= something.todo_action %></td>


        <!--<td><%= link_to 'Show', something %></td>-->
        <!--<td><%= link_to 'Edit', edit_something_path(something) %></td>-->
        <!--<td><%= link_to 'Destroy', something, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>
</br>
</br>
<br>

<%= link_to 'New Something', new_something_path %>
